[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Dynamic window manager for X
[access "refs/*"]
	owner = group user/Nijat Mahmudov (nij4t)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Nijat Mahmudov (nij4t)
	label-Verified = -1..+1 group user/Nijat Mahmudov (nij4t)
	push = group user/Nijat Mahmudov (nij4t)
	read = group user/Nijat Mahmudov (nij4t)
	rebase = group user/Nijat Mahmudov (nij4t)
	removeReviewer = group user/Nijat Mahmudov (nij4t)
	submit = group user/Nijat Mahmudov (nij4t)
[access "refs/heads/*"]
	create = group user/Nijat Mahmudov (nij4t)
	push = +force group user/Nijat Mahmudov (nij4t)
	pushMerge = group user/Nijat Mahmudov (nij4t)
	read = group user/Nijat Mahmudov (nij4t)
[access "refs/tags/*"]
	push = group user/Nijat Mahmudov (nij4t)
	push = +force group user/Nijat Mahmudov (nij4t)
